/* start vareble */

:root {
    --main-color: #fd8207;
    --back-color: #0c1228;
    --section-background: #f6f6f6;
    --section-padding: 60px;
    --secondary-color: #2c4755;
    --main-duration: 0.5s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* end vareble */
/* start globle */
body {
    font-family: 'Work Sans', sans-serif;
}
.spicial-heading {
    font-size: 100px;
    color: var(--main-color);
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -3px;
    background-color: var(--back-color);
    border-radius: 15px;
    width: fit-content;
    padding: 0 20px;
}
.spicial-heading + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end gloablerouls */
/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container .logo {
    width: 60px;
}
.header .container .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icon span:first-child {
    width: 100%;

}
.header .links .icon span:nth-child(2) {
    width: 50%;
    transition: .3s;
}
.header .links .icon span:last-child {
    width: 100%;
    height: 3px;
}
.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    top: calc(100% + 15px);
    position: absolute;
    right: 0;
    background-color: #f6f6f6;
    min-width: 200px;
    display: none;
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content: "";
    border-style: solid;
    border-color:transparent transparent #f6f6f6 transparent;
    border-width: 10px; 
    top: -20px;
    position: absolute;
    right: 10px;
}
.header .links ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: .3s;
}
.header .links ul li:hover a {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/lading.jpg);
    background-size: cover;
    position: relative;
    height: calc(100vh - 64px);
}
.landing .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 320px;
    max-width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.landing .text h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}
.landing .text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end landing */
/* start features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    grid-gap: 20px;
    background-color: var(--back-color);
    border-radius: 30px;
}
.features .container .feet {
    padding: 20px;
    text-align: center;
}
.features .container .feet i {
    color: var(--main-color);
}
.features .container .feet h3 {
    font-weight: 800;
    margin: 25px 0;
    color: var(--main-color);
}
.features .container .feet p {
    color: #777;
    line-height: 1.8;
    font-size: 18px;
}
/* end features */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media(max-width: 767px){
    .services {
        padding-bottom: 0;
    }
}
.services .container .spicial-heading {
    font-size: 100px;
    color: var(--main-color);
    font-weight: 800;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -3px;
    background-color: var(--back-color);
    border-radius: 15px;
    width: fit-content;
    padding: 0 20px;
}
.services p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
.services .services-conten {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.col:not(:last-child) {
    background-color: var(--back-color);
    padding: 20px;
    border-radius: 15px;
}
.services .container .srv {
    display: flex;
    margin-bottom: 40px;
}
@media(max-width: 767px){
    .services .container .srv {
        flex-direction: column;
        text-align: center;
    }    
}
.services .container .srv i {
color: var(--main-color);
flex-basis: 60px;
}
.services .container .srv .text {
    flex: 1;
}
.services .services-conten .srv h3 {
    margin: 0 0 40px;
    color: var(--main-color);
}
.services .services-conten p {
    font-weight: 300;
    color: #444;
    line-height: 1.6;
}
.services .services-conten .image {
    text-align: center;
    position: relative;
}
.services .services-conten .image::before  {
    content: "";
    background-color: var(--main-color);
    width: 100px;
    position: absolute;
    top: -25px;
    right: 50px;
    height: calc(100% + 70px);
    z-index: -1;
}
.services .services-conten .image img {
    width: 260px;
}
@media(max-width: 767px) {
    .services .services-conten .image {
        display: none;
    }
}
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 60px
}
.portfolio .portfolio-content .card {
    background-color: var(--back-color);
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .card .info {
    padding: 20px;
}
@media(max-width: 767px){
    .portfolio .card .info {
        text-align: center;
    }  
}
.portfolio .card .info h3 {
    padding: 30px;
    margin: 0;
    color: var(--main-color);
}
@media(max-width: 767px){
    .portfolio .card .info h3 {
        padding-bottom: 0;
    }
}
.portfolio .card .info p {
    margin-bottom: 0;
    line-height: 1.7;
    color: #777;
    font-size: 20px;
}
/* end services */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image::before {
    content: "";
    background-color: #ebeced;
    width: 100px;
    position: absolute;
    height: calc(100% + 80px);
    top: -40px;
    left: -27px;
    z-index: -1;
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: solid 80px var(--main-color);
    top: -42px;
    right: -148px;
    border-bottom: solid 80px var(--main-color);
    z-index: -1;
} 
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child {
    font-weight: bold;
    line-height: 1.5;
    font-size: 18px;
}
.about .about-content .text p:last-child {
    line-height: 1.5;
    color: #777;
    font-size: 19px;
} 
.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-bottom: solid 1px var(--main-color);
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact .info {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .info p {
    font-weight: 800;
    font-size: 35px;
    letter-spacing: -2px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}
.contact .info a.link {
    font-size: 37px;
    font-weight: 800;
    color: var(--main-color);
    margin-top: 20px;
    text-decoration: none;
}
.contact .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin-top: 20px;
}
.contact .social i {
    margin-left: 10px;
}
.footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    padding: 40px;
    font-size: 20px;
}
.footer span {
    color: var(--main-color); 
    font-weight: bold;
}
/* end about */